[submodule "tools/submods/esh"]
	path = tools/submods/esh
	url = git@github.com:jirutka/esh.git
[submodule "tools/submods/shelltools"]
	path = tools/submods/shelltools
	url = git@github.com:elcorto/shelltools.git
