[submodule "tools/submods/esh"]
	path = tools/submods/esh
	url = https://github.com/jirutka/esh.git
[submodule "tools/submods/shelltools"]
	path = tools/submods/shelltools
	url = https://github.com/elcorto/shelltools.git
